@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.docs-main{

}

.docs-single-1 {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20px;
  background: #c9c6c6;
}

.docs-single-2 {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20px;
  background: #ffffff;
}

.add-docs {
  height: 200px;
  width: 150px;
  background-color: #ffffff;
  border:black;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.add-input {
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.button-container {
  text-align: center;
}

.grid-main{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.grid-single{
height: 200px;
width: 150px;
cursor: pointer;
background-color: #beb8b8;
width: 200px;
padding: 10px;
color: rgb(0, 0, 0);
}

.editor{
  display: flex;
  grid-template-columns: auto auto auto auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.navbar-main{
  background: rgb(241, 237, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;

.input-align{
  display: flex;
  align-items: center;
  justify-content: center;

  .input-box{
    width: 400px ;
    height: 20px;
    border-radius: 6px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #e2dfdf;
    position: relative;
  }
  
  .icon-container{
    position:absolute;
    z-index: 20;
    margin-right: 398px;
  }
}

}

.single-button{
  background: #ec9c06;
  padding: 8px;
  cursor: pointer;
}

.quill-editor{
width: 500px;
height: 400px;
}